@page "/placeholder"

<div class="p-4 h-100">
    <div class="d-flex flex-column flex-grow-1 h-100 justify-content-center">
        <div class="mx-auto config">
            <div>
                <h3>Placeholder</h3>
            </div>
        </div>
    </div>
</div>

@code {
}
