.vh-80 {
    height: 80vh;
}

.white-shadow {
    text-shadow: 2px 2px #f0f0f0
}

.black-shadow {
    text-shadow: 2px 2px #303030
}

.dark-shadow {
    color: aliceblue;
    text-shadow: 2px 2px 4px #808080;
}

.light-shadow {
    text-shadow: 3px 3px 8px #303030;
}

.heavy-shadow {
    text-shadow: 4px 4px 8px #000000;
}
